source ~/.zplug/init.zsh

# Plugins

zplug "plugins/git",   from:oh-my-zsh
zplug "plugins/fzf",   from:oh-my-zsh
zplug "rupa/z", use:z.sh
zplug "plugins/sudo",   from:oh-my-zsh
zplug "plugins/colored-man-pages",   from:oh-my-zsh
zplug "zsh-users/zsh-autosuggestions"
zplug "zsh-users/zsh-syntax-highlighting"

zplug load

ZSH_TMUX_AUTOSTART=true
ZSH_TMUX_AUTOCONNECT=false

# add vim mode
bindkey -v


if command -v tmux &> /dev/null && [ -n "$PS1"  ] && [[ ! "$TERM" =~ screen  ]] && [[ ! "$TERM" =~ tmux  ]] && [ -z "$TMUX"  ]; then
exec tmux
fi

# Export section
export EDITOR="vim"

# FZF
export FZF_DEFAULT_COMMAND='find -L'
export FZF_COMPLETION_TRIGGER='**' # can change ** to whatever you like
export FZF_DEFAULT_OPTS='--preview "batcat  --style=numbers --color=always --line-range :500 {}" -m --height 50% --border'


# Logisim
export AWT_TOOLKIT=MToolkit
export _JAVA_AWT_WM_NONREPARENTING=1

# Aliases section
source ~/.zsh_aliases

# Prompt

eval "$(starship init zsh)"
