export ZSH="$HOME/.oh-my-zsh"
export EDITOR="vim"

plugins=(git z sudo colored-man-pages zsh-autosuggestions fzf )

ZSH_TMUX_AUTOSTART=true
ZSH_TMUX_AUTOCONNECT=false

if command -v tmux &> /dev/null && [ -n "$PS1" ] && [[ ! "$TERM" =~ screen ]] && [[ ! "$TERM" =~ tmux ]] && [ -z "$TMUX" ]; then
  exec tmux
fi

source $ZSH/oh-my-zsh.sh

# Export section
{{ if eq .chezmoi.os "darwin" }}
export GOPATH=/usr/local/go
export PATH=/usr/local/opt/python@3.7/bin:$PATH
export HOMEBREW_NO_AUTO_UPDATE=1
export PATH=/Applications/MAMP/bin/php/php8.0.8/bin:$PATH
{{ end }}

# FZF
export FZF_DEFAULT_COMMAND='find -L'
export FZF_COMPLETION_TRIGGER='**' # can change ** to whatever you like
export FZF_DEFAULT_OPTS='--preview "batcat  --style=numbers --color=always --line-range :500 {}" -m --height 50% --border'


# Logisim
export AWT_TOOLKIT=MToolkit
export _JAVA_AWT_WM_NONREPARENTING=1

# Aliases section
source ~/.zsh_aliases


# Prompt

eval "$(starship init zsh)"

