alias ls='eza'
alias ll='eza -lh'
alias la='eza -lah'
alias l='eza -CF'
alias tree='eza --tree'

alias p='python3'
alias p2='python2'
alias p3='python3'
alias python='python3'
alias pip='python3 -m pip'

alias dus='du -sh'

alias vim='nvim'
alias cheat='bash ~/.local/bin/cht/cht.sh'
alias cht='bash ~/.local/bin/cht/cht.sh'

alias gp='git push'
alias ggraph='git log --graph --oneline --all'

{{ if eq .chezmoi.os "darwin"}}
alias cat='bat'
{{ else }}
alias bat='batcat'
alias cat='batcat'
{{ end }}
alias lg='lazygit'
