alias la='ls -a'
alias l='ls -CF'

alias p='python3'
alias p2='python2'
alias p3='python3'
alias python='python3'
alias pip='python3 -m pip'

alias dus='du -sh'

alias vim='nvim'
alias cheat='bash ~/.bin/cht/cht.sh'
alias cht='bash ~/.bin/cht/cht.sh'

alias gp='git push'

{{ if eq .chezmoi.os "darwin"}}
alias cat='bat'
{{ else }}
alias bat='batcat'
alias cat='batcat'
{{ end }}
